@font-face {
  font-family: 'Ribeat';
  src: url('/fonts/Ribeat.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

@keyframes color-blink {
  0%, 100% { color: white; }
  50% { color: black; }
}

.animate-text-blink {
  animation: color-blink 1.5s infinite;
}

@keyframes sweep-right-left {
  0% { background-position: 200% 0; }
  100% { background-position: 0% 0; }
}

.animate-bg-sweep {
  background: linear-gradient(to left, #F18536, #F28A34, #F9C019, #EF7140, #F18536);
  background-size: 300% 100%;
  animation: sweep-right-left 3s ease-in-out infinite alternate;
}

@keyframes shimmer-text {
  0% { background-position: 200% center; }
  100% { background-position: -200% center; }
}

.animate-text-shimmer {
  background: linear-gradient(to right, #ffffff 30%, #FAC716 50%, #ffffff 70%);
  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shimmer-text 6s ease-in-out infinite;
}
